<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm mt-4">
        <h1>Temperature Monitor</h1>
      </div>
      <div class="col-sm mt-4">
        <h2>GitHub</h2>
        <p><a href="https://github.com/Giuseppedes/temperature-monitoring" target="_blank">temperature-monitoring</a></p>
      </div>
      <div class="col-sm mt-4 mb-5">
        <h2>Author</h2>
        <p><a href="https://www.linkedin.com/in/giuseppe-de-santis/" target="_blank">Giuseppe De Santis</a></p>
      </div>
    </div>
  </div>
</footer>
